<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TransitionTransform</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="text-center p-20">
<!--No Transition-->
<button class="px-6 py-3 rounded bg-blue-500 hover:bg-blue-700 text-white">Click Me</button>
<!--Transition-->
<button class="px-6 py-3 rounded bg-blue-500 hover:bg-blue-700 text-white transition-colors duration-300">Click Me</button>
<button class="hover:rotate-12 px-6 py-3 rounded bg-blue-500
        hover:bg-blue-700 text-white
        transition-all duration-300">Click Me</button>
<img src="../assets/img/img1.jpg" alt=""
     class="mt-20 w-64 hover:rotate-180 transition duration-1000 rounded-xl shadow shadow-slate-400	">

</body>
</html>