<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Border</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="flex flex-wrap justify-center">
<!--Border Width And Colors-->
    <div class="w-96 m-3 p-5 border">
        <span class="text-blue-500">border</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam?
    </div>
    <div class="w-96 m-3 p-5 border-2">
        <span class="text-blue-500">border-2</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam?
    </div>
    <div class="w-96 m-3 p-5 border-4">
        <span class="text-blue-500">border-4</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam?
    </div>
    <div class="w-96 m-3 p-5 border-8 border-indigo-500">
        <span class="text-blue-500">border-8</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam?
    </div>
    <div class="w-96 m-3 p-5 border-x-4 border-indigo-500 bg-slate-200">
        <span class="text-blue-500">border-x-4</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam?
    </div>
    <div class="w-96 m-3 p-5 border-y-4 border-indigo-500 bg-slate-100">
        <span class="text-blue-500">border-y-4</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam?
    </div>
    <div class="w-96 m-3 p-5 border-t-2 border-r-4 border-b-2 border-l-8 border-indigo-500">
        <span class="text-blue-500"> top-2, left-4, bottom-2, right-8</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam?
    </div>
<!--Border Radius-->
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded</span>
    </div>
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded-md">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded-md</span>
    </div>
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded-xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded-xl</span>
    </div>
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded-2xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded-2xl</span>
    </div>
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded-3xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded-3xl</span>
    </div>
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded-lg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded-lg</span>
    </div>
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded-full">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded-full</span>
    </div>
    <div class="w-96 m-3 p-5 border-4 bg-slate-200 text-gray-900 font-mono border-indigo-500 rounded-t-2xl rounded-b">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quisquam? <span class="text-blue-500">rounded-t-2xl rounded-b</span>
    </div>
<!--Outline-->
    <div class="w-96 m-3 space-x-2">
        <button class="outline outline-2 outline-blue-300">Click Me</button>
        <button class="outline outline-2 outline-offset-2 outline-blue-300">Click Me</button>
        <button class="outline-dashed outline-2 outline-blue-300">Click Me</button>
        <button class="outline-dotted outline-2 outline-blue-300">Click Me</button>
        <button class="outline-double outline-2 outline-blue-300">Click Me</button>
    </div>
</body>
</html>