<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filters</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="font-mono container p-10">
<!--Blur-->
    <p class="text-indigo-500">blur-sm</p>
    <div class="blur-sm">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quisquam?
    </div>
    <p class="text-indigo-500">blur</p>
    <div class="blur">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quisquam?
    </div>
    <p class="text-indigo-500">blur-md</p>
    <div class="blur-md">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quisquam?
    </div>
    <p class="text-indigo-500">blur-xl</p>
    <div class="blur-xl mb-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quisquam?
    </div>
    <p class="text-indigo-500">blur-2xl</p>
    <img src="../assets/img/img2.jpg" alt="" class="blur-2xl">
<!--Brightness-->
    <div class="flex flex-wrap">
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-50</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-50">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-75</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-75">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-90</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-90">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-95</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-95">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-100</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-100">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-105</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-105">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-110</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-110">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-125</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-125">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-150</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-150">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">brightness-200</p>
            <img src="../assets/img/img2.jpg" alt="" class="brightness-200">
        </div>
    </div>
<!--Contrast-->
    <div class="flex flex-wrap">
        <div class="w-1/3">
            <p class="text-indigo-500">contrast-0</p>
            <img src="../assets/img/img3.jpg" alt="" class="contrast-0">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">contrast-50</p>
            <img src="../assets/img/img3.jpg" alt="" class="contrast-50">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">contrast-75</p>
            <img src="../assets/img/img3.jpg" alt="" class="contrast-75">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">contrast-100</p>
            <img src="../assets/img/img3.jpg" alt="" class="contrast-100">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">contrast-125</p>
            <img src="../assets/img/img3.jpg" alt="" class="contrast-125">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">contrast-150</p>
            <img src="../assets/img/img3.jpg" alt="" class="contrast-150">
        </div>
        <div class="w-1/3">
            <p class="text-indigo-500">contrast-200</p>
            <img src="../assets/img/img3.jpg" alt="" class="contrast-200">
        </div>
    </div>
<!--GrayScale-->
    <div class="flex flex-wrap mt-3">
        <div class="w-1/3">
            <p class="text-indigo-500">grayscale</p>
            <img src="../assets/img/img4.jpg" alt="" class="grayscale">
        </div>
        <!--Invert-->
        <div class="w-1/3">
            <p class="text-indigo-500">invert</p>
            <img src="../assets/img/img4.jpg" alt="" class="invert">
        </div>
        <!--Sepia-->
        <div class="w-1/3">
            <p class="text-indigo-500">sepia</p>
            <img src="../assets/img/img4.jpg" alt="" class="sepia">
        </div>
    </div>
<!--huerotate-->
<div class="flex flex-wrap mt-3">
    <div class="w-1/3">
        <p class="text-indigo-500">hue-rotate-0</p>
        <img src="../assets/img/img5.jpg" alt="" class="hue-rotate-0">
    </div>
    <div class="w-1/3">
        <p class="text-indigo-500">hue-rotate-15</p>
        <img src="../assets/img/img5.jpg" alt="" class="hue-rotate-15">
    </div>
    <div class="w-1/3">
        <p class="text-indigo-500">hue-rotate-30</p>
        <img src="../assets/img/img5.jpg" alt="" class="hue-rotate-30">
    </div>
    <div class="w-1/3">
        <p class="text-indigo-500">hue-rotate-60</p>
        <img src="../assets/img/img5.jpg" alt="" class="hue-rotate-60">
    </div>
    <div class="w-1/3">
        <p class="text-indigo-500">hue-rotate-90</p>
        <img src="../assets/img/img5.jpg" alt="" class="hue-rotate-90">
    </div>
    <div class="w-1/3">
        <p class="text-indigo-500">hue-rotate-190</p>
        <img src="../assets/img/img5.jpg" alt="" class="hue-rotate-180">
    </div>
</div>
</body>
</html>