<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alert Warning</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="">
<div class="flex items-center p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg space-x-4 mt-6">
    <img src="../assets/img/warning.svg" alt="alert icon" class="w-14 h-14">
    <div class="">
        <div class="font-medium text-xl text-black">Are You Sure?</div>
        <p class="text-slate-500">You are about to delete a post.</p>
    </div>
</div>
</body>
</html>