<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colors</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="bg-gray-400 p-4">
    <!--TEXT color-->
    <p class="text-black">Tailwind is Awesome</p>
    <p class="text-white">Tailwind is Awesome</p>
    <p class="text-red-700">Tailwind is Awesome</p>
    <p class="text-green-300">Tailwind is Awesome</p>
    <p class="text-emerald-400">Tailwind is Awesome</p>
    <p class="text-blue-500">Tailwind is Awesome</p>
    <p class="text-indigo-500">Tailwind is Awesome</p>
    <!--BACKGROUND-->
    <p class="bg-slate-500 text-blue-300">Tailwind Is Awesome.</p>
    <p class="bg-pink-500 text-blue-300">Tailwind Is Awesome.</p>
    <p class="bg-violet-500 text-blue-300">Tailwind Is Awesome.</p>
    <p class="bg-purple-500 text-blue-300">Tailwind Is Awesome.</p>
    <p class="bg-fuchsia-500 text-blue-300">Tailwind Is Awesome.</p>
    <p class="bg-rose-500 text-blue-300">Tailwind Is Awesome.</p>
    <p class="bg-green-500 text-blue-300">Tailwind Is Awesome.</p>
    <p class="bg-blue-500 text-blue-300">Tailwind Is Awesome.</p>
    <!--TEXT UNDERLINE-->
    <p class="underline decoration-blue-900 text-gray-900">Tailwind Is Awesome.</p>
    <!--BORDER COLORS-->
    <input type="text" class="border border-blue-400">
    <input type="text" class="border border-yellow-400">
    <input type="text" class="border border-green-400">
    <!--DIVIDE COLORS-->
    <div class="divide-y divide-blue-500">
        <div>item 1</div>
        <div>item 2</div>
        <div>item 3</div>
        <div>item 4</div>
        <div>item 5</div>
    </div>
    <!--OUTLINE COLORS  -->
    <button class="outline outline-blue-300 p-2">hello world</button>
    <button class="outline outline-indigo-300 p-2">hello world</button>
    <!--BOXSHADOW COLORS-->
    <button class="shadow-lg shadow-cyan-500 bg-cyan-500 p-2 rounded">Subscribe</button>
    <button class="shadow-lg shadow-green-500 bg-green-500 p-2 rounded">Subscribe</button>
    <button class="shadow-lg shadow-blue-500/30 bg-green-500 p-2 rounded">Subscribe</button>
    <button class="shadow-lg shadow-blue-500/70 bg-green-500 p-2 rounded">Subscribe</button>
    <!--ACCENT COLORS-->
    <input type="checkbox" class="accent-blue-800" checked>
    <input type="checkbox" class="accent-cyan-300" checked>
    <!--ARBITRARY COLORS-->
    <div class="bg-[#427fab]">Hello World</div>
    <div class="bg-[rgb(55,30,30)] text-white">Hello World</div>
    <div class="bg-[steelblue]">Hello World</div>
</body>
</html>