<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Container</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<!--Container-->
<div class="container mx-auto">
    <article>
        <h3>Article One</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam architecto, asperiores aut beatae cumque dicta doloremque ea et id ipsam itaque maiores molestias nulla, reprehenderit sapiente sed sint tempora!</p>
    </article>
    <!--Margin-->
    <div class="bg-slate-100 m-2">Hello World</div>
    <div class="bg-slate-100 ml-4">Hello World</div>
    <!--Padding-->
    <div class="bg-slate-100 p-4 mt-5">Hello World</div>
    <!--Space Between X-->
    <div class="flex space-x-7">
        <div>item 1</div>
        <div>item 2</div>
        <div>item 3</div>
        <div>item 4</div>
        <div>item 5</div>
        <div>item 6</div>
        <div>item 7</div>
    </div>
    <!--Space Between Y-->
    <div class="bg-cyan-200 mt-3 p-3 flex flex-col space-y-7">
        <div>item 1</div>
        <div>item 2</div>
        <div>item 3</div>
        <div>item 4</div>
        <div>item 5</div>
        <div>item 6</div>
        <div>item 7</div>
    </div>
</div>
</body>
</html>